[Unit]
# Service to launch sensor program

[Service]
Type=simple
WorkingDirectory=/home/pi/code
ExecStart=/home/pi/code/startup.sh
EnvironmentFile=/home/pi/code/aws-iot/keys/sensor_vars.env

[Install]
WantedBy=multi-user.target